test-driver
test/test-suite.log
test/test_all.sh.log
test/test_all.sh.trs
po/nip2.pot
nip2-*.tar.gz
*.o
.*.swp
TAGS
Makefile
scan
Makefile.in
config.*
autom4te.cache
aclocal.m4
m4/
compile
configure
depcomp
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
nip2.desktop
nip2.spec
po/POTFILES
fred
po/Makefile.in.in
src/.deps/
src/dummy.c
src/gtksheet-marshal.c
src/gtksheettypebuiltins.c
src/lex.c
src/nip2
src/nip2-icon.rc
src/parse.c
src/parse.h
stamp-h1
test/test_all.sh
ylwrap
doc/html/
doc/pdf/
